#!/bin/bash

ulimit -n 1048576 # open files

echo "N8N_VERSION=${n8nVersion}" >> ~/n8n/.env
echo "EXECUTIONS_PROCESS=${n8nExecutionsProcess}" >> ~/n8n/.env
echo "EXECUTIONS_MODE=${n8nExecutionsMode}" >> ~/n8n/.env

sleep 1

sudo docker-compose -f ~/n8n/docker-compose.yml up -d

sleep 10
